.pagination button {
  width: 38px;
  height: 38px;
  border-radius: none;
  border: 1px solid rgba(222, 226, 230, 0.5);
  box-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-color: #ffff;
  color: rgba(93, 115, 225, 1);
  margin-right: 10px;
}

.pagination button.active {
  background: rgba(93, 115, 225, 1);
  color: white;
  font-weight: bold;
}
