.header-rooms-page {
  padding-top: 1px;
  height: 125px;
}

.search-rooms {
  width: 638px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
  padding: 8px 12px;
  margin-left: 30px;
}
