* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f6fa;
}

.users-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.users-table th {
  background: rgba(245, 246, 250, 1);
  padding: 12px 16px;
  text-align: left;
  font-weight: 500;
  color: rgba(138, 146, 166, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  line-height: 175%;
}

.users-table td {
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(35, 45, 66, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  line-height: 175%;
}

.users-table tbody tr {
  cursor: pointer;
  transition: background 0.2s;
}
.users-table tbody tr:hover {
  background: rgba(75, 108, 183, 0.08);
}

.card-common {
  background-color: #ffff;
  box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
  border-radius: 8px;
}

.margin-top-20 {
  margin-top: 20px;
}
