.users-page {
  background-color: rgba(255, 255, 255, 1);
  width: 659px;
  box-shadow: 0px 10px 13px 0px rgba(17, 38, 146, 0.05);
  padding: 24px;
  border-radius: 8px;
}

.users-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.users-inp {
  width: 638px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
  padding: 8px 12px;
}

.users-info {
  margin-top: 20px;
}

.user-name {
  font-size: 40px;
  font-weight: 500;
  margin-left: 0;
  margin-bottom: 20px;
  color: rgba(35, 45, 66, 1);
}
