.users-page {
  width: 659px;
  padding: 24px;
}

.user-header {
  margin-bottom: 10px;
}

.users-inp {
  width: 638px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
  padding: 8px 12px;
}

.users-info {
  margin-top: 20px;
}

.user-name {
  font-size: 40px;
  font-weight: 500;
  margin-left: 0;
  margin-bottom: 20px;
  color: rgba(35, 45, 66, 1);
}
