.card {
  display: flex;
  width: 675px;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  margin-top: 20px;
  background-color: #ffff;
  align-items: center;
}

.card-name {
  font-weight: 500;
  font-size: 19px;
  color: rgba(35, 45, 66, 1);
}

.card-content {
  width: 360px;
  padding: 10px 10px 24px 24px;
}
.card-img {
  width: 292px;
  height: 250px;
  border-radius: 8px;
}

.card-info {
  width: 326px;
}

.card-desc {
  color: rgba(138, 146, 166, 1);
  width: 326px;
  margin-top: 10px;
}

.card-btn {
  width: 136px;
}
