.search-hotels {
  width: 638px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
  padding: 8px 12px;
  margin-left: 30px;
}

h1 {
  margin-left: 30px;
  margin-top: 20px;
}

.header-hotels-page {
  padding-top: 1px;
  height: 125px;
}
