.main-card {
  width: 675px;
  padding: 30px 0px 20px 30px;
  margin-bottom: 30px;
}

.rooms-section h3 {
  margin-bottom: 20px;
}

.room-img {
  width: 246px;
  height: 189px;
  border-radius: 8px;
  margin-right: 20px;
}

.room-name {
  font-weight: 500;
  font-size: 33px;
  color: rgba(35, 45, 66, 1);
  margin-bottom: 10px;
}

.room-info {
  width: 606px;
}

.room-desc {
  margin-bottom: 20px;
  color: rgba(138, 146, 166, 1);
}

.edit-btn {
  margin-right: 10px;
  width: 168px;
  height: 44px;
  background-color: rgb(230, 151, 117);
}

.add-btn {
  width: 168px;
  height: 44px;
}

.book-btn {
  width: 168px;
  font-size: 16px;
}

.book-btn:hover:not(:disabled) {
  background-color: rgba(0, 86, 179, 1);
}

.book-btn:disabled {
  background-color: rgba(200, 200, 200, 1);
  cursor: not-allowed;
}

.main-card,
.standart-card,
.family-card {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 30px 0px rgba(17, 38, 146, 0.05);
}

.delete-btn {
  width: 168px;
  margin-left: 10px;
  background-color: rgb(218, 54, 25)
}
