.edit-page {
  display: flex;
  gap: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 30px 0px rgba(17, 38, 146, 0.05);
  padding: 30px 0px 20px 30px;
  border-radius: 8px;
}

.images {
  display: flex;
}

.edit-name {
  width: 632px;
  border-radius: 4px;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(238, 238, 238, 1);
}

.edit-desc {
  width: 630px;
  height: 318px;
  resize: none;
  padding: 14px 16px;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.hotel-image {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.remove-btn {
  position: absolute;
  top: -6px;
  right: 6px;
  background: none;
  color: rgb(155, 155, 155);
  width: 15px;
  height: 15px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  box-shadow: none;
}
.remove-btn:hover {
  color: gray;
}

.add-image-card {
  width: 150px;
  height: 100px;
  border: 2px dashed gray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  border-radius: 8px;
}
