 .support-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.support-modal-window {
  position: absolute;
  bottom: 100px;
  right: 150px;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 600px;
  max-width: 90vw;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.support-modal h3 {
  margin-bottom: 20px;
  text-align: center;
}

.support-content {
  display: flex;
  gap: 20px;
  height: 400px;
}

.requests-list {
  flex: 1;
  border-right: 1px solid #ddd;
  padding-right: 20px;
}

.requests-list h4 {
  margin-bottom: 10px;
}


.tab {
  flex: 1;
  padding: 8px 12px;
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s;
  color: rgb(168, 207, 223);
  font-weight: bold;
}

.tab.active {
  border-bottom-color: #079aa2;
  color: #079aa2;
}

.tab:hover {
  background-color: #f5f5f5;
}

.create-request-btn {
  width: 100%;
  padding: 8px;
  border: none;
  margin-bottom: 10px;
}

.create-request-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.requests-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
}

.requests-list li {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.requests-list li:hover,
.requests-list li.active {
  background-color: #f0f0f0;
}

.active-badge {
  color: #079aa2;
  font-weight: bold;
  margin-left: 5px;
}

.closed-badge {
  color: #f44336;
  font-weight: bold;
  margin-left: 5px;
}

.chat-area {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  overflow-y: auto;
  margin-bottom: 10px;
  background-color: #fafafa;
}

.message {
  margin-bottom: 10px;
  padding: 8px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

}

.message-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message small {
  color: #666;
  font-size: 0.8em;
}

.message-date {
  text-align: center;
  margin: 10px 0;
  font-size: 0.9em;
  color: #999;
  font-weight: bold;
}

.message-input {
  display: flex;
  gap: 10px;
}

.message-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.message-input button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
}

.message-input button:hover {
  background-color: #067a82;
}
