.menu {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 257px;
  height: fit-content;
  align-items: center;
  background-color: #ffff;
  border-radius: 8px;
  box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
}

nav {
  display: flex;
  flex-direction: column;
}

.menu-item {
  margin-bottom: 16px;
  font-weight: 600;
  color: rgba(138, 146, 166, 1);
}
