.register-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.required-field {
  margin-top: 10px;
}

.register-btn {
  width: 200px;
  margin-left: 70px;
  margin-top: 20px;
}

.modal-inp {
  border-color: black;
}
