.modal-backdrop {
  position: absolute;
  width: 361px;
  height: 284px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 30px 0px rgba(17, 38, 146, 0.05);
  right: 65px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  align-content: center;
  z-index: 1000;
  right: -2px;
  top: 65px;
}

.modal-window {
  display: flex;
  flex-direction: column;
  align-items: center;
}
