.sup-wrapper {
  border: 1px solid #007bff;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 80px;
  right: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.sup-wrapper:hover {
  background-color: #0056b3;
}

.sup-icon {
  font-size: 24px;
}
